{% if site.facebook_sidbar_embed %}
<section>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-like-box" data-href="{{ site.facebook_sidbar_page_url }}" data-width="{{ site.facebook_sidebar_width }}" {% if site.facebook_sidebar_height %} data-height="{{ site.facebook_sidebar_height }}" {% endif %} data-show-faces="{{ site.facebook_sidebar_show_faces }}" data-stream="{{ site.facebook_sidebar_show_stream }}" data-header="{{ site.facebook_sidebar_show_header }}"></div>
</section>
{% endif %}
