<!-- Slideshow -->
{% if page.basic_slider %}
<link rel="stylesheet" href="/assets/basic-jquery-slider/css/bjqs.css" type="text/css" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="/assets/basic-jquery-slider/js/bjqs-1.3.min.js"></script>

<style type="text/css" media="screen">
  #banner-fade,
  #banner-slide{
  	margin-bottom: 60px;
  }

  ul.bjqs-controls.v-centered li a{
  	display:block;
  	padding:10px;
  	background:#fff;
  	color:#000;
  	text-decoration: none;
  }

  ul.bjqs-controls.v-centered li a:hover{
  	background:#000;
  	color:#fff;
  }

  ol.bjqs-markers li a{
  	padding:5px 10px;
  	background:#000;
  	color:#fff;
  	margin:5px;
  	text-decoration: none;
  }

  ol.bjqs-markers li.active-marker a,
  ol.bjqs-markers li a:hover{
  	background: #999;
  }

  p.bjqs-caption{
  	background: rgba(255,255,255,0.5);
  }
</style>
{% endif %}{